* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(220, 255, 240);
}


.header-container,
.data-container, 
.links-container,
.time-container {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}


.header {

}
.button-container {
    Stroke: Solid
    rgba(177, 177, 177, 0.7)
    Align: Outside
    Width: 1px
    Fill: Solid
    #53B994
    Effect: Drop Shadow
    Radius: 4px
    Offset: 0px, 4px
    rgba(0, 0, 0, 0.25)
}
button {
height: 3rem;
width: 10rem;  
  background-color: lightgoldenrodyellow;

  justify-content: center;

}
button:hover,
a:hover {
    background-color: bisque;
}
button:active {
    background-color: lightgreen;
}

p {
font-size: 1.4rem
}