* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont,
    Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  height: 100%;
  position: relative;
}
.nav-container {
  /* margin: 1.5rem 0; */
  background: #dfff6b;
  font-size: 1rem;
  width: 100%;

  /* border: 5px solid red; */
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, 0.2);
  /* 
      display: flex;
      justify-content: space-around; */
}
.nav {
  border: 0.5px solid lightgray;
  display: flex;
  justify-content: space-around;
}
.brand {
  width: 150px;
  padding-top: 0.6rem;
  /* border: 1px solid blue;   */
  display: flex;
  justify-content: center;
  align-content: center;
}
.nav .brand h4 {
  text-shadow: 0.5px 0.5px lightgray;

  color: rgba(0, 0, 0, 0.66);
  line-height: 1.5;
  text-align: center;
  font-weight: 800;
  background-color: transparent;
}
.links,
.info-links {
  width: 350px;
  /* border: 1px solid blue;   */
  padding-left: 0.4rem;
  /* padding-left: 1rem; */
  line-height: 2rem;
  margin: 0.8rem;
  display: flex;
  justify-content: space-around;
}
.nav .links a {
  color: rgba(0, 0, 0, 0.66);
  line-height: 1.2;
  text-align: center;
  font-weight: 600;
  text-decoration-line: none;
  background-color: transparent;
}
.nav .links a:hover {
  color: black;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: blue;
}
.info-links a {
  color: #404040;
  text-decoration: none;
}

.info-links a:hover {
  color: black;
  /* text-decoration-line: underline; */
  text-decoration-style: wavy;
  text-decoration-color: blue;
}

.header-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-counter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  height: 600px;
}
.left-container,
.right-container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.dog-card-left,
.dog-card-right {
  display: flex;
  flex-direction: column;
}
.right-dog,
.left-dog {
  max-height: 500px;
}
.left-vote {
  background-color: #86c232;
  font-size: 1.4rem;
  font-weight: bolder;
  height: 2rem;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, 0.2);
}

.right-vote {
  background-color: #ffb48f;
  font-size: 1.4rem;
  font-weight: bolder;
  height: 2rem;
  box-shadow: 4px 4px 2px 1px rgba(0, 0, 255, 0.2);
}

.graph-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 40%;
  border: 1px solid blue;
}
.graph-header {
  border: 1px solid red;
  padding: 2rem;
  font-family: Verdana, Tahoma, sans-serif;
  display: flex;
  justify-content: center;

  background-color: #f8e9a1;
}

.graph {
  flex-wrap: wrap;
  border: 1px solid red;
  padding: 3rem;
  font-family: Verdana, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}
canvas {
  padding: 2rem;
  display: flex;
  justify-content: center;
}
.myChart {
}

button:hover {
  background-color: #fccd04;
}
button:active {
}
button {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #dfff6b;
  border-radius: 4px;
  background: #0366ee;
  color: #ffffff;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica,
    Arial, sans-serif;
  font-size: 1rem;
  text-transform: none;
  text-align: center;
  cursor: pointer;
}
